body {
  margin: 0;
  padding: 0;
  background: white;
  color: black;
  font-family: Arial, sans-serif;
}

.topbar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
    height: 150px;
}

.menu-icon {
    position: absolute;
    left: 20px;
    top: 20%;
    transform: translateY(-50%);
    font-size: 32px;
    cursor: pointer;
}


.brand-text{
   height:80px;
   transform: translate(0px,30px);
}

.ai-button {
    text-align: center;
    line-height: 1.4;
    padding: 10px 16px;
    position: absolute;
    right: 20px;
    top: 20%;
    transform: translate(15%,-45%);

    background: black;
    color: white;
    text-decoration: none;

    padding: 10px 16px;
    border-radius: 25px;

    font-size: 13px;
    font-weight: bold;
    font-family: Arial, sans-serif;

    white-space: nowrap;
}
.arrow-icon {
    display: inline-flex;
    align-items: center;
    margin-left: 0px;
    transform: translateY(1px);
}


/* HERO SECTION */

.hero {
  padding: 20px;
}

.hero-image {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 10px;
  margin-top: -5px;
}

@media (min-width: 768px){
  .hero-image{
      max-height: 200px;
      object-fit: cover;
      object-position: center 40%;
      display:block;
  }
}

.intro-text {
  font-size: 18px;
  line-height: 1.7;
  padding-left: 7.5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

/*use this format for notes to self*/